<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-
            target="#navbar1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SÁCH ONLINE</a>
    <a class="navbar-brand" href="#">TRANG CHỦ</a>
    <a class="navbar-brand" href="#">GIỚI THIỆU</a>
    <a class="navbar-brand" href="#">LIÊN HỆ</a>
</div>
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false" aria-haspopup="true">Người dùng<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Đăng ký</a> </li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
        </ul>
    </li>
    @Html.Action("GioHangPartial", "GioHang")
</ul>
